
// Colors
$primary: #194B83;
$secondary: #f5e8f4;
$light: #fdfdfd;

// Buttons
$btn-padding-y: 1px;
$btn-padding-x: 20px;
$btn-border-radius: 100vh;

// Fonts
$font-family-base: montserrat;

// inputs
$input-border-color: none;
$input-group-addon-bg: $light;