@import "variables"; /* /src/scss/_variables.scss */
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.background-image {
  background-image: url(/media/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 85vh;
}

.logo {
  min-width: 8em;
  max-width: 10em;
}

.thumbnail {
  width: clamp(50px, 10vw, 80px);
}

.profile {
  width: clamp(150px, 15vw, 250px);
}

.navbar-toggler {
  border: none;

  &:focus {
    border: none;
    box-shadow: none;
  }
}

.navbar-collapse {
  // margin-top: 1em;

  form, li {
    margin-top: .5em;
  }
}

// ==== Utilities ==== //

// Max width to element
.max-width {
  max-width: 1040px;
  margin: 0 auto;
}

.circle {
  border-radius: 50vw;
}